.main__app {
    height: 100vh;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.diceImg {
    width: 20%;
}

.dice-roller {
    padding: 10px;
    font-size: 15px;  
    margin-top: 20px;
}