.board {
  /* border: 1px solid black; */
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.box__container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}